@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

/**
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
#btn-collapse{
    height: 25px;
    font-size: 10px;
}
#btn-detail{
    width: 16px;
    height: 16px;
}
header{
    /**height: 5vh;*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /**
    justify-content: center;
    align-items: center;
    background-color: #2d3436;
    color:#dfe6e9;
    */
}
body {
    font-family: "Ubuntu", sans-serif;
}
section{
    height: 100%;
    width: 100%;
}
hr{
    border-color: #b3b3b3;
    opacity: 0.75;
    padding: 0;
}
#logo {
    height: 50px;
    width: 50px;
}
.target {
    zoom: 70%;
}
.query-controls{
    width: 20vw;
}
.flatpickr-calendar {
    font-size: 12px; /* Reduce el calendario */
}
