@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/**
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

header{
    /**height: 5vh;*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /**
    justify-content: center;
    align-items: center;
    background-color: #2d3436;
    color:#dfe6e9;
    */
}

section{
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

hr{
    border-color: #b3b3b3;
    opacity: 0.75;
    height: 1px;
}

.col{
    width: 200px;
    
}

#logo {
    height: 50px;
    width: 50px;
}